.col {
  display: flex;
  flex-direction: column;
}

.halfwidth {
  width: 50%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Anonymous Pro', monospace;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: right;
}