.main-content {
  padding: 2rem;
}

@media (min-width: 50rem) {
  .main {
    position: relative;
    max-width: 800px;
    margin-left: 248px;
  }
}

@media (min-width: 66.5rem) {
  .main {
    margin-left: calc( (100% - 1064px) / 2 + 264px );
  }
}