@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Source Sans Pro', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  display: block;
  font-size: 2.5em;
  font-weight: 300;
}

